arabic-reshaper
asgiref
asn1crypto
certifi
cffi
chardet
charset-normalizer
click
colorama
crispy-bootstrap5
cryptography
cssselect2
Django
django-crispy-forms
django-environ
django-widget-tweaks
html5lib
idna
lxml
oscrypto
pillow
psycopg2
pycparser
pyHanko
pyhanko-certvalidator
pypdf
pypng
python-bidi
python-dotenv
PyYAML
qrcode
reportlab
requests
six
sqlparse
svglib
tinycss2
typing_extensions
tzdata
tzlocal
uritools
urllib3
webencodings
xhtml2pdf